.list{
    color: #fff;
    width: 350px;
    background-color: #424242;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #9e9e9e;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
}

.faicons{
    margin: 5px;
    font-size: 15px;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.list p input:focus{
    outline: none;
}