body {
  background-color: #00838F;
}

header{
  background-color: #37474F;
  margin: 10px auto;
  width: 400px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 5px 0;
  box-shadow: 5px 5px 5px #00575f;
}
.App{
  background-color: #CFD8DC;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 5px 5px 5px 2px #00575f;
}

#to-do-list input{
  background-color: rgb(30, 170, 212);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #FAFAFA;
}

#to-do-list input:focus{
  outline: none;
}

#to-do-list input::placeholder{
  color: rgba(255,255,255,0.5);
}

#to-do-list button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(182, 109, 14);
  cursor: pointer;
  font-weight: bolder;
  color: #FAFAFA;
  outline: none;
}